
extends layout

block append vars
  - bodyclass += ' article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  include author
  h1= page.title

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href='') « Back to Home

block append about
  div.credits
    | #{ " This guide was created by " }
    mixin author(page.metadata.author)
    - if (page.metadata.contributors != null)
      | #{" with contributions by "}
      mixin contributors(page.metadata.contributors)


